<h1 id="tableLabel">Stromzähler Verbrauch</h1>

<p>Zeigt die vergangenen Stromzählerstände.</p>

<p *ngIf="!powerConsumptions"><em>Lädt...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="powerConsumptions">
  <thead>
    <tr>
      <th>Date</th>
      <th>Stromzählerstand in kWh</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let powerConsumption of powerConsumptions">
      <td>{{ powerConsumption.created }}</td>
      <td>{{ powerConsumption.powerLevelInKWh }}</td>
    </tr>
    <tr>
      <td>{{ newPowerConsumptionRequest.created }}</td>
      <td><button (click)="add(3.2)">Send</button></td>
    </tr>
  </tbody>
</table>
