<h1 id="tableLabel">Stromzähler Verbrauch</h1>

<p>Zeigt die vergangenen Stromzählerstände.</p>

<p *ngIf="!powerConsumptions"><em>Lädt...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="powerConsumptions">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Stromzählerstand in kWh</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let powerConsumption of powerConsumptions">
      <td>{{ powerConsumption.created | date: 'dd.mm.yyyy'}}</td>
      <td>{{ powerConsumption.powerLevelInKWh }}</td>
    </tr>
    <tr>
      <td><input #powerConsumption (keyup.enter)="add(powerConsumption.value)" (blur)="add(powerConsumption.value); powerConsumption.value=''" /></td>
      <td></td>
    </tr>
  </tbody>
</table>
